<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	  <parameter name="Fname" value="Rishi"></parameter>
	  <parameter name="Mname" value="Jawale"></parameter>
	  <parameter name="Mnumber" value="1234567890"></parameter>
	  <classes>
		  <class name="dataProvider_Study.NewTest3"></class>
	  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
